.products{
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    .product{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .menu-card{
            width: 320px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: rgb(255, 255, 255);
            border: 1px solid transparent;
            border-radius: 20px;
            margin: 15px;
            img{
                width: 50%;
                height: 100%;
                border-radius: 20px 0 0 20px;
            }
            .detalis{
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                .product-det{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    h1, p{
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .price{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    p{
                        width: 40%;
                        height: 80%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        margin: auto 0;
                    }
                    .count{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        .symb{
                            width: 50px;
                            height: 30px;
                            border-radius: 20px;
                            font-size: 25px;
                            font-weight: bold;
                            margin: auto 10px;
                        }
                        .num{
                            display: inline-block;
                            width: 25px;
                            height: 30px;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                            margin: auto 0;
                        }
                    }
                }
                .add_cart{
                    width: 90%;
                    height: 30px;
                    button{
                        width: 100%;
                        height: 100%;
                        font-size: 20px;
                        text-align: center;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}